.lane {
	width: 100vw;
	height: 40px;
	z-index: 7;

	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.lane::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #2ca294;
	z-index: -1;
}

.lane .inner {
	width: 100%;
	padding: 2em;
	max-width: 1920px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	font-family: "Helvetica";
	font-size: 1.1em;
}

@media screen and (min-width: 1600px) {
	.lane .inner {
		justify-content: center;
		gap: 1200px;
	}
}

.lane .inner ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1em;
}

.lane .inner ul li {
	font-weight: 300;
	font-size: 0.9em;
	font-family: "Helvetica";
	position: relative;
	padding-right: 1em;
}

.lane .inner ul li::after {
	content: "";
	height: 0.8em;
	border: 0.5px solid white;
	position: absolute;
	right: 0;
	top: 0.1em;
}
.lane .inner ul li a {
	position: relative;
}

.lane .inner ul li a::before {
	content: "";
	width: 100%;
	height: 2px;
	background-color: white;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	opacity: 0.6;
	scale: 0 1;
	transform-origin: center;
	transition: scale 0.2s ease;
}

.lane .inner ul li a:hover::before {
	scale: 1 1;
	opacity: 0.8;
}
.lane .inner ul li a:hover {
	opacity: 1;
}

.lane .inner ul li:last-child::after {
	display: none;
}

.proj {
	font-weight: 600;
}
